<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<div class="logo">
			<%= image_tag 'logo.png', :width => '32', :height => '32' %>
			<h5 class="brand">primera<span class="keyword-green">Raíz</span></h5>
		</div>
		<div>
			<h5><%= @greeting%> <%= @name%>,</h5>
		</div>
		<br>
		<p>
			Envío adjunta la cotización solicitada. En la cotización se mencionan aspectos del servicio que es muy importante tomes en consideración. En caso de contar con tu viso el siguiente paso será que nos proporciones tus datos de facturación y agendar fecha para la sesión fotográfica.
		</p>
		<p>
			Irma Ramírez le dará seguimiento a la presente cotización. Por favor, no dudes en contáctarnos por este medio, o al <a href="tel:5576691210">(044) 55 7669 1210</a>, para cualquier aclaración. 
		</p>
		<p>
		</p>
	</body>
</html>