<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="logo">
		<img src="/assets/logo.png" class="z-depth-1" width="32" height="32">
		<h5 class="brand">primera<span class="keyword-green">Raíz</span></h5>
	</div>
	<div>
		<h5><%= @greeting%> <%= @user.name%></h5>
	</div>
	<br>
	<p>
		Primera Raíz es un nuevo servicio. Queremos transformar la forma de vender departamentos en la Ciudad de México, ofrecer atención de excelencia y cobrar menos que las agencias de bienes raíces tradicionales.
	</p>
</body>
</html>