<div class="b-container">
	<div class="row">
	</div>
	<div class="row">
		<div class="col l6 m6 s12">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
			<div class="row z-depth-2">
				<form action="/admins/login" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s12">
						<input type="text" name="agent[email]" placeholder="Correo">
					</div>
					<div class="input-field col s12">
						<input type="text" name="agent[password]" placeholder="Contraseña">
					</div>
					<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
		</div>
	</div>
</div>