<table id="signature">
	<tbody>
		<tr>
			<td style="width:120px;margin:20px;padding:0px 5px 10px !important;vertical-align:top">
				<img src="https://primeraraiz.com/assets/lantia.png" class="z-depth-0 valign" height="34px">
			</td>
			<td style="width:200pxcolor:#424242;font-size:15px;padding:0px 5px 10px !important">
				<span style="font-weight:600">
					Eduardo Guerrero
				</span>
				<br>
				Socio
			</td>
		</tr>
		<tr>
			<td style="padding:0px 5px 10px !important"></td>
			<td style="padding:0px 5px 10px !important">
				<a href="tel:5562180739" style="color:#424242">(044) 55 1333 2659</a>
			</td>
		</tr>
		<tr>
			<td style="padding:0px 5px 10px !important"></td>
			<td style="padding:0px 5px 10px !important">
				Paseo de la Reforma 389, Piso 12,
				<br>
				Ciudad de México, C.P. 06500.
			</td>
		</tr>
		<tr style="color:#bdbdbd">
			<td style="padding:10px 5px 10px !important"></td>
			<td class="valign-wrapper" style="padding:10px 5px 10px !important;">
				<a class="valign" href="http://lantiaconsultores.com" style="font-weight:600;color:#bdbdbd;font-size:15px">lantiaconsultores.com</a>
			</td>
		</tr>
	</tbody>
</table>