<div style="background: url(/assets/interior3.jpg) no-repeat; background-position: center center; width: 100%; height: 800px">
	<div class="container">
		<br><br><br><br><br><br><br><br><br><br><br>
		<div class="center-align">
			<div class="dark-screen z-depth-1" style="padding:25px;">
				<img src="/assets/white_logo" style="width:60px;height:60px;margin-right:10px;">
				<span class="white-text" style="font-size:80px;">primeraRaíz</span>
			</div>
		</div>
	</div>
</div>