@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

blockquote{
  border-left: 5px solid #b2ff59;
}


#zones > * {
	background-color: transparent;
}

#zone-collection {
	background-color: transparent;
}

.dark-screen {
	background-color: rgba(0,0,0, 0.35)
}

.light-dark-screen {
	background-color: rgba(0,0,0, 0.35)
}

.card {
	background-color: transparent;
}

.card-action {
	background-color: transparent;	
}

.b-container {
	width: 90%;
	margin: 0 auto;
}

.title-wrapper {
	margin-top: 100px;
}

.b-card-header {
	min-height: 100px;
}

.b-card-body {
	min-height: 100px;
}



#b-title {
	font-size: 5em;
	margin-bottom: 0;
}

#b-subtitle {
	display: inline;
	font-weight: 500;
	line-height: 150%;
}

#c-subtitle {
	display: inline;
	font-weight: 500;
	line-height: 150%;
}

#b-subtitle-tour {
	display: inline;
	font-weight: 500;
	line-height: 150%;
}

#c-subtitle-tour {
	display: inline;
	font-weight: 500;
	line-height: 150%;
}


#b-subtitle-container {
	margin-top: 20px;
	height: 130px;
}

#parenthesis {
	font-weight: 300;
}

#b-subtitle-container .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 2.92rem;
}

#c-subtitle-container .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 1.8em;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#c-title {
	font-size: 3em;
	margin-bottom: 0;
}

#c-subtitle {
	font-size: 1.8em;
	font-weight: 500;
}

#c-subtitle-tour {
	font-size: 1.8em;
	font-weight: 500;
}

#c-subtitle-container {
	height: 100px;
}

.b-section-title {
	margin-bottom: 0;
}

#steps {
}

#icon-row {
	margin-bottom: 0;
}

.card-title {
	font-weight: 500 !important;
	font-size: 1em;
}

.card-button-container {
	width: 220px;
	padding: 6px;
	color: #b2ff59;
	border: 2px solid #b2ff59 ;
}

.active-button {
	color: #616161 !important;
	background-color: #b2ff59 !important; 	
}

.card-active-button {
	color: #616161 !important;
	background-color: #b2ff59; 	
}
.card-text {
	font-size: 1.2em;
}

.step-icon {
	color: white;
}

.b-button-container {
	margin: 0 auto;
	padding: 6px;
	width: 190px;
	color: #b2ff59;
	border: 2px solid #b2ff59;
}

.tour-button-container {
	display: inline-block;
	margin: 10px;
	padding: 6px;
	width: 120px;
	color: #b2ff59;
	border: 2px solid #b2ff59;
}

#transition-banner {
	margin: 0 auto;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 55px;
   width:100%;
   background:#999;
}

#picture-shadow {
	padding: 0 20px;
}

.tab-link {
	color: white !important;
	font-size: 0.9em !important;
}

.tabs {
	background-color: transparent;
}

.tabs .indicator {
    background-color: #64dd17;
}

#transition-row {
	margin-bottom: 0;
}

.staggered-item {
	opacity: 0;
}

#login {
	max-width: 400px;
	background-color: rgba(255,255,255, 0.95)
}

.login-tab-link {
	color: #424242 !important;
	border-bottom: 5px;
}

#login .tabs .indicator {
    background-color: #64dd17;
}

.input-field {
	line-height: 75%;
}

input:not([type]), input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    height: 2.2em;
    box-sizing: border-box;
    border: 1px solid #bdbdbd !important;
    background-color: white !important;
}
 
 #user-image {
 	border: 1px solid #424242;
 }




 .main-modal-section {
 	margin-top: 10px;
 }

.no-margin-bottom {
	margin-bottom: 0px;
}

.inline-title {
	display: inline-block;
}

.social-icon-container {
	margin-left: 10px;
}

.primera {
	margin: 0;
	font-weight: 500;
	font-size: 1.5em;
	display: inline-block;
	color: #9e9e9e; 
}

.raiz {
	color: #64dd17;
}

.btn-flat {
	padding: 0;
}
.b-box-margin {
	margin-right: 22px;
}

.input-text {
	line-height: 20px !important;
}

.info-card{
	margin-top: 30px;
	background-color: rgba(255,255,255, 0.95);
}

.card-subtitle {
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 0;
}

.like-input-text {
	font-size: 14px;
	margin-bottom: 10px !important;
}

#owner_name {
	vertical-align: bottom !important;
	margin-top: 20px !important;
}

#owner-name-text {
	margin-top: 10px !important;
}

[type="radio"].with-gap:checked + label:before {
	border-radius: 50%;
	border: 2px solid #64dd17; 
}

[type="radio"].with-gap:checked + label:after {
	border-radius: 50%;
	border: 2px solid #64dd17;
	background-color: #64dd17;
	z-index: 0;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5); 
}

#legal_form label {
	display: inline-block;
	width: 280px;
	margin: 6px 0px 0px 0px !important;
	vertical-align: middle;
}

#registered-email-input {
	vertical-align: bottom !important;
	margin-top: 20px !important;
}

.contact {
	background-color: rgba(0,0,0, 0.90)	
}



.contact-row {
	margin-bottom: 0;
}

#contact-button {
	border-radius: 0;
}

.contact-info {
	height: 70px;
}

.high-footer {
	height: 125px;
}

.top-section {
	padding-top: 30px;
}

#property-collection {
	max-height: 200px;
}

#primera-listing {
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

#cdmx {
	font-size: 0.8em;
	font-weight: 600;
}

.bottom-button {
	margin-top: 35px;
}

.zero-margin {
	margin: 0;
}

#location {
	vertical-align: bottom;
}

.action-no-padding {
	padding: 0px !important;
}

.dropdown-content li > a, {
	color: white;	
}

ul#dropdown1.dropdown-content {
	background-color: rgba(0,0,0, 0.90);
}

.dropdown-content li > a:hover, {
	color: #424242;
	background-color: #b2ff59;	
}

.dropdown-icon {
	margin: 0 !important;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background: url(/assets/tour_video_first_frame.jpg) no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(/assets/tour_video_first_frame.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
    	}
    .modal {
    	width: 90%;
  		}
}


.feature {
	margin-bottom: 25px;
}

#new_banner {
	width: 70%;
	margin: 0 auto;
	background-color: rgba(0,0,0, 0.90) !important;
}

.modal-content p {
	font-size: 1.4em;
}

.modal-content br {
	line-height: 200%;
}

p.legal-warning {
	display: inline-block;
	font-size: 1.2em !important;
}

[type="checkbox"]:checked + label:before {
	border-right: 4px solid #64dd17;
    border-bottom: 4px solid #64dd17;
}

#terms_label {
	display: inline-block;
}

#legal_form {
	display: inline-block;
}

#tour-header {
	padding-bottom: 0 !important;
}

#tour-price-form td {
	padding: 5px;
	color: #424242;
}

#tour-price-form label {
	color: #424242;
}

.table-note {
	margin-top: 0px;
	padding-left: 30px;
	font-size: 1rem !important;
}

#tour-modal .modal-content {
	padding-top: 12px; 
}

#tour-modal p.flow-text {
	margin: 0;
}

.button-label {
	font-size: 1rem;
	padding-right: 10px;
}

.left-button-label {
	font-size: 1rem;
	padding-left: 10px;
}

.header-note {
	font-size: 1rem !important;	
}

.anti-default {
	border-radius: 0px !important;
}

select.browser-default {
	background-color: white;
	padding: 5px 10px;
	height: 2.2em;
	margin-bottom: 15px;
	border: 1px solid #bdbdbd !important;
}

select:focus {
	outline: none;
}

.side-nav {
	background-color: rgba(0,0,0, 0.90);
	color: white;	
}

.side-nav a {
	color: white;	
}

.side-nav a:hover, {
	color: #424242;
	background-color: #b2ff59;	
}

#sidenav-overlay {
	background-color: rgba(255,255,255, 0.25);
}

.tour-left-column .input-field{
	padding: 0;
	margin-top: 0;
}

.tour-left-column p {
	font-size: 14px;
}

.tour-left-column .row {
	margin-bottom: 0px;
}

.tour-left-column h5 {
	font-size: 18px;
}

.input-field.col label {
	left: 0;
}

.input-field label {
	top: 0;
}

#tour-first li {
	list-style-type: square;
	list-style-position: inside;
	margin-bottom: 12px;
}

#credit-card-row .col {
	padding: 0px;
}

.payment-type {
	font-size: 10px !important;
}

#card-form .col {
	padding: 0px;
}

#card-form span {
	display: block;
}

.tabs .tab a {
	color: #424242;
	border-bottom: 5px;
}

.tabs .tab.disabled a {
	color: #9e9e9e;	
}

.tabs .tab a:hover {
	color: #64dd17;
}


.tabs .tab.disabled a:hover {
	color: #9e9e9e;	
}

#credit-card-row {
	margin: 10px 0px;
}

.small-logo {
	font-size: 20px !important;
}

.toast {
	color: #616161;
	background-color: #b2ff59;
	font-size: 1.7em;
	font-weight: 500;
	border-radius: 0;
}

.material-tooltip {
	max-width: 400;
	color: #616161;
}

.backdrop {
	background-color: #b2ff59;
	border-radius: 0;	
}

.card-errors {
	color: red;
}

#bank_names {
	font-size: 10px;
	font-weight: 500;
}

.table-of-contents a.active {
	border-left: 2px solid #64dd17 !important; 
}

.scrollspy-li {
	font-size: 18px;
}

.table-of-contents a {
	color: #424242;  
}

.table-of-contents a:hover {
	color: #424242;
	border-left: 1px solid #fafafa;
}

input[type=text]:focus:not([readonly]) {
	box-shadow: none !important;
}

#error-board {
	width: 100%;
	height: 250px;
	background: url("/assets/floorplan.png") no-repeat center;
	background-size: 100%;
}

#error-board h4 {
	margin: 0px 5px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

ul.section.table-of-contents {
	padding: 0;
}

#tour-modal.modal-content {
	color: #424242;
}

#tour-fourth-b .col {
	padding: 0;
}

.green-header {
	margin-top: 6px !important;
}

.black-header {
	background-color: rgba(0,0,0, 0.90);
	font-size: 10px;
	padding: 3px 6px;
}

.green-cell {
	padding: 3px 6px;
	color: #424242;
	background-color: #b2ff59;
}

.brand-logo {
    -webkit-animation-delay: 1s; 
    animation-delay: 1s;	
}

#confirm-table {
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;	
}

.modal-content h5 {
	margin: 0;
	color: #424242;
}

#tour-header {
	padding: 24px 34.5px 0px 34.5px !important;
}

#tour-features {
	font-size: 16px;
}

.modal {
	border-radius: 0;
}

.modal-content .row {
	margin-bottom: 0;
}

.terms_label {
	font-weight: 600;
	line-height: normal !important;
}

.terms_label a {
	text-decoration: underline;
    }

#legal_form label {
	max-width: 100%;
}

#tour-features li {
    padding-left: 1em;
    text-indent: -1em;
}

#tour-second-b th {
	padding: 5px;
}

#tour-second-b td {
	padding: 0px 5px;
}

.super-index {
	font-size: 7px;
	vertical-align:super;
}

input[type=text] {
	color: #424242;
}

.radio-wrapper {
	height: 30.8px;
}

.input-field label {
	color: #424242;
}

.button-label {
	color: #424242;
}

.button-label-inactive {
	color: rgba(0,0,0,0.25);
	padding-right: 10px;
}

#tour-second p {
	color: #424242;
}

.td-right {
	text-align: right;
	width: 100%;
}

#tour-second table {
	font-size: 13px;
}

.table-left-column {
	min-width: 138px; 
}

.currency-font {
	font-size: 11px;
}

#tour-second-b [type="radio"]:not(:checked) + label, #tour-second-b [type="radio"]:checked + label{
	font-size: 13px;
}

.green-table-row {
	background-color: rgba(100,221,23,0.25) !important;
	font-weight: 500;
}

#small-checkout-board {
	width: 100%;
}

#checkout-board p, #small-checkout-board p {
	width: 100%;
	line-height: 24px;
	margin: 0;
	border-bottom: 1px solid #64dd17;
}

#checkout-board .row, #small-checkout-board .row {
	width: 100%;
	margin: 0;
}

#small-checkout-board span {
	display: inline !important;
}

#floorPlan-checkbox-label {
	font-size: 13px !important;
}
#floorplan-link {
	text-decoration: underline;
}

#checkout-table td {
	padding: 0;
	color: #bdbdbd;
}

#small-checkout-table td {
	padding: 0;
	color: #424242;
}

.break-tr td {
	padding-bottom: 10px !important;
}

#total-tr {
	font-weight: 500;
}

.picker__box {
	padding: 10px;
	border-radius: 0px;
}

.picker__day.picker__day--today {
	color: #64dd17;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
	border-radius: 50%;
	transform: scale(0.9);
	color: #b2ff59 !important;
	background-color: #424242 !important;
}

.inline-currency {
	display: inline-block !important;
}

.spinner-green-only {
	border-color: #64dd17;	
}

#charge-wrapper, #wire-wrapper {
	width: 45px;
	height: 45px;
}

#wire-tab {
	padding: 0 !important;
}

.no-padding-p {
	padding: 0 !important;
}

.main-background {
	padding: 40px;
	background-color: white;
	text-align: center;
}

.main-section-wrapper {
	margin: auto; 
}

.almost-footer {
	padding: 25px 0px;
}

.affiliation-frame {
	height: 75px;
}

.extra-right {
	margin-right: 20px;
}
.double-extra-right {
	margin-right: 60px;
}

.embed-container {
	position: relative;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: 480px !important;
} 

.embed-container iframe {
	top: 0; 
	left: 0;
	width: 100%; 
	height: 480px !important;
}

.main-section-wrapper {
	margin-top: 40px !important;
}

.main-section-wrapper h4 {
	display: inline-block;
}

.mail-link {
	color: #64dd17;
	text-decoration: underline;
}

#b-price-table {
	margin: 20px auto 5px;
	max-width: 300px !important;
	background-color: rgba(0,0,0, 0.90) !important;	
}

#b-price-table thead tr {
	font-size: 20px;
	padding: 10px 0px;
}

#b-price-table th, #b-price-table td {
	padding: 0px 20px;
}

#b-price-table p {
	margin: 8px 0px;
}

#b-price-table .body-row:hover {
	color: #616161 !important;
	background-color: #b2ff59; 	
}

#price-table-container {
	text-align: center;
}

#price-warning {
	margin: auto;
	max-width: 300px;
}

.collapsible {
	margin: auto;
	max-width: 850px;
}

.collapsible-header {
	background-color: rgba(0,0,0, 0.90);
	font-size: 20px;
}

.collapsible-header:hover {
	color: #616161 !important;
	background-color: #b2ff59; 	
}

.tight-main-wrapper {
	padding: 40px 10px;
	text-align: center;	
}

.collapsible-header .flow-text {
	margin: 0;
}

#main-floorplan {
	margin: auto;
	width: 100%;
	max-width: 850px;
}

#floorplan-section {
	padding: 40px 0; 
	text-align: center;
}

.green-table {
	padding: 10px 0px;
	background-color: rgba(0,0,0, 0.90);
	margin: auto;
	max-width: 350px;
}

.green-table td {
	padding: 5px 10px;
}

.bold-cell {
	font-weight: 500;
}

#FAQ p {
	line-height: 1.8rem;
	padding: 10px;
}

#tour-fifth-b {
	height: 326px;
	overflow-y: scroll;
}

#small-checkout-wrapper {
	min-height: 136px;
}

#small-checkout-wrapper .row {
	width: 100%;
	margin: 0;
}

#card-tab {
	padding: 0;
}

#small-card-errors {
	margin-top: 10px;
}