<div style="background: url(/assets/interior3.jpg) no-repeat; background-position: center center; width: 100%; height: 800px">
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="container">
				<div id="card-error-message" class="white z-depth-2">
					<div id="error-header" class="modal-content">
						<img alt="recorrido virtual México" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
						<p class="primera">primera<span class="raiz">Raíz</span></p>
						<img src="/assets/conekta.png" class="right hide-on-small-only" height="24px">
						<img src="/assets/conekta.png" class="hide-on-med-and-up" height="24px">
					</div>
					<br>
					<div class="row">
						<p class="flow-text">Lo sentimos, hubo un problema con su pago:<br><br><%=@failure_message%></p>
					</div>
					<div class="row center-align">		
						<span id="error-card-wrapper" class="valign-wrapper valign">Volver a la página de inicio 
							<a id="error-card-button" href="/" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign">
								<i class="material-icons">send</i>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>